cruise_ship_info.csv
Data_Transformations.ipynb
Linear_Regression_Code_Along.pdf
Linear_Regression_Consulting_Project.ipynb
Linear_Regression_Consulting_Project.pdf
Linear_Regression_Consulting_Project_SOLUTIONS.ipynb
.ipynb_checkpoints
